
html, body {
  margin: auto;
  padding: 0;
  /*font-family: 'Raleway', serif;*/
  font-weight: 100;
  max-width: 1400px;

}

a {
    text-decoration: none;
    cursor: pointer;
}

h4 {
    font-size: 16px;
    font-weight: 100;
}

.affix {
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -5;

    margin-right: 0 !important;
}


.strong {
    font-weight: 400;
}


hr {
    border-color: darkorange;
    width: 75%;
}

/*Buttons */

.btn-primary {
	font-weight:  100;
    letter-spacing: 1px;
    background-color: none;
    background:  none !important;
    border: white solid 1px;
    border-radius:  0;
}

.btn-default {
	width: 100%;
	border-radius: 0;
    background: none;
    color: white;
}

.email {
    padding: 15px;
    background-color: darkorange !important;
    border: none !important;
}

.btn-default:hover, .btn-default:active {
	border: solid 1px white;
	color: white;
	background: none;
	width: 100%;
}

a.btn.btn-default  {
    letter-spacing: 1px;
    font-weight: 100;
}
/* Navigation */
.navbar {
    background: none;
    border: none;
}
.navbar-header {
    width: 100%;
}

.navbar a, 
.navbar a:hover,
.navbar a:visited {
    color: white;
}

a.navbar-brand {
	letter-spacing: .75px;
    margin-left: 30px;

}

/* Jumbotron */

.jumbotron {
    background: url("https://ununsplash.imgix.net/21/mac-glasses.JPG?q=75&amp;fm=jpg&amp;s=b071b2245118757fbfc6ff9f9dd9cb7c") no-repeat center center fixed;
    background-size: cover;
    color: whitesmoke;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    height:  700px;
    position: relative;
}

.sheer {
    background-color: rgba(47,79,79,.65);
    width: 100%;
    height:  100%;
    padding: 100px 5% 0px 5%;
    padding: auto;
    margin-top: 0px;
/*    margin-bottom: auto;
*/}
.jumbotron h1 {
	font-weight: 100;
}

.jumbotron p {
    width: 100%;
    letter-spacing: .5px;
    font-weight: 100;
    padding-top: 15px;
    padding-left: 5px;

} 
.header {
    z-index: 1;
}

.subhead {
    position: absolute;
    top:600px;
    background-color: darkorange;
    height: 100px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

}

.subhead.fix-div {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%; 
    z-index: 1000;
    
}


.scroll {

    height: 00;
    
}
.subhead h2 {
    font-size: 1.35em;
    color: white;
    font-weight: 100;
    letter-spacing: .1em;
}

.subhead svg {
    fill: white;
    width: 30px;
    height: 50px;
}

.skills {
    height: 50px;
    background: darkorange;
}

.skills.fix-div {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%; 
}
.skills h2 {
    z-index: 1500;

    font-size: 1.35em;
    color: white;
    font-weight: 100;
    letter-spacing: .1em;
    margin-left: -5px;
}

/* Supporting */
.supporting {
}

.supporting p h2 h3 h4{
	letter-spacing: .75px;
}

.project-bg{
    background-size: cover !important;
    height: 200px;
    padding: 0px;
    /* -webkit-filter: blur(1px); */
    /* padding: 20px; */
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-bg-etsy{
    background: url("../images/etsyHome.png");
}

.project-bg-reviewerin{
    background: url("../images/Reviewerin-home.png");
}

.project-bg-posterin{
    background: url("../images/Posterin.png");
}
.project-fg {
    background-color: rgba(0,0,0,.3);
    height: 200px;
    /* margin: 75px; */
    vertical-align: middle;
    /* padding: 75px; */
    margin: auto;
    cursor:pointer;
}

.col-md-3 {
    margin-left: 75px;
}

/* Modal */

.modal-content{
    border-radius: 0px;
}

.modal img {
    width: 100%;
}


.modal-title {
    color: white;
}

.modal-header {
    background-color: darkorange;
}

.modal-body p {
    margin-top: 40px;
    font-weight: 200;
}

.text-middle {
    margin: 0 25%;
    text-align: center;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px 0px;
    border: 1px solid white;
    letter-spacing: 1.2px;
    background-color: rgba(255,255,255,.2);
}

.text-middle:hover {
    border:none;
    font-weight: 300;
    background-color: rgba(255,255,255,9);
    color:black;
    border: none;
}


/* Bio */

.about-me {
    background-color: darkorange;
    height: 200px;
}

.resume {
    .about-me {
    background-color: white;
    height: 200px;
 }
}

/* Footer */


.footer {
    background: 
    color: darkorange;
    font-weight: 200;
}
.footer-container {
    background-color: rgb(255,255,255);
    height: 800px;
}

/* Miscellaneous Styles */

.no-border{
    border: none;
}


.second {
    margin-top: -100px;
}

.main {
        height: 300px;
    width: 300px;
}

.shadow {
  -moz-box-shadow:    0px 7px 12px -7px darkslategray;
  -webkit-box-shadow: 0px 7px 12px -7px darkslategray;
  box-shadow:         0px 7px 12px -7px darkslategray;
}

.sigh {
    letter-spacing: .1em;
}

.breathe {
    letter-spacing: .05em;
}

/*colors*/

.white{
    background-color: #A7B4D7;
}
.orange {
    color: orange;
    display:none;
}

.darkorange {
    background-color: darkorange;
}

.gray {
    background-color: #fff;
}

.hide {
    display: none;
}

.svg svg {
    fill: white;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

/*text colors*/
.white-text {
    color:white;
}
.gray-text {
    color:gray;
}
.black-text {
    color:black;
}

.footer-header {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .75px;
    padding-top: 15px;
    color: white;
    font-weight: 100;
}
.footer .col-md-12 {
    color: white;
    font-weight: 100;
    height: 100%;
}
.copyright {
    position: absolute;
    bottom: 0;
    right: 0;
}

p.svg {
    display: inline;
    padding: 20px;
}

   


.footer .sheer {
    height: 100px;
    padding: 0 50px 0 50px;
    background: darkorange;
}
/* Parallax */

.parallax-2 {
  background: url("https://ununsplash.imgix.net/21/mac-glasses.JPG?q=75&amp;fm=jpg&amp;s=b071b2245118757fbfc6ff9f9dd9cb7c") no-repeat center center fixed;
  background-size: cover;
  height: 600px;
}

.parallax .container {
    width: 100%;
    color: white;
    padding: 0;
}

.p0 {
    padding: 0;
}

.parallax .container h1,
.parallax .container p {
    width: 100%;
    letter-spacing: .5px;
    font-weight: 100;
    padding-top: 15px;
    padding-left: 5px;
}

.parallax .container p {
    font-size: 1.5em;
}

.parallax .container h1 {
    font-size: 4em;
}


 /* Media Queries */

.sampleClass {
    float:left;
}
    
@media only screen and (max-width: 500px){
        .sampleClass {
            float:none;
        }
}

@media screen and (max-width: 500px) {
  a.navbar-brand {
    display: none;
   }
  .mobile {
    background-color: darkorange;
    margin-left: 30px;
    color: white;
    display: block !important;
   }
}

@media screen and (min-width: 500px) {
  .mobile {
    display: none !important;
   }
}

@media screen and (max-width: 992px) {
   .col-md-3 {
    margin-left: 0;
  }
}

