html, body {
  margin: auto;
  padding: 0;
  font-family: 'Raleway', serif;
  font-weight: 200;
  max-width: 1400px;

}

.container {
    
}

.col-md-4 {
	box-sizing: border-box;
	padding: 10px;
}

.btn-primary {
	font-weight:  100;
    letter-spacing: 1px;
    background-color: none;
    background:  none !important;
    border: white solid 1px;
    border-radius:  0;
}

.btn-default {
	width: 80%;
	border-radius: 0;

}

.btn-default:hover, .btn-default:active {
	border: solid 1px orange;
	color: gray;
	background: none;
	width: 80%;
}
/* Navigation */

.navbar-brand {
	letter-spacing: .75px;
}

/* Jumbotron */

.jumbotron {
    background: url("https://ununsplash.imgix.net/21/mac-glasses.JPG?q=75&amp;fm=jpg&amp;s=b071b2245118757fbfc6ff9f9dd9cb7c") no-repeat center center fixed;
    background-size: cover;
    color: whitesmoke;
    padding-bottom: 0px;
    padding-top: 0px;
    height:  600px;
}

.jumbotron .container {
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height:  100%;
    padding: 100px 20% 50px 20%;
    padding: auto;
/*    margin-bottom: auto;
*/}
.jumbotron h1 {
	font-weight: 100;
}

.jumbotron p {
    width: 100%;
    letter-spacing: .5px;
    font-weight: 100;

} 

/* Supporting */
.supporting p {
	letter-spacing: .75px;
}

.circle-outer {
	border-radius:  50%;
    height:  150px;
    width: 150px;
    background: url("https://unsplash.it/150/?random");
    margin: auto;
}

.circle-inner {
	border-radius:  50%;
    height: 150px;
    width: 150px;
    margin:  auto;
    background-color:  rgba(34,34,34,.5);
}