
html, body {
  margin: auto;
  padding: 0;
  /*font-family: 'Raleway', serif;*/
  font-weight: 100;
  max-width: 1400px;

}
.shadow {
  -moz-box-shadow:    0px 10px 10px -10px #ccc;
  -webkit-box-shadow: 0px 10px 10px -10px #ccc;
  box-shadow:         0px 10px 10px -10px #ccc;
}
/*Buttons */

.btn-primary {
	font-weight:  100;
    letter-spacing: 1px;
    background-color: none;
    background:  none !important;
    border: white solid 1px;
    border-radius:  0;
}

.btn-default {
	width: 100%;
	border-radius: 0;
    background: none;
    color: white;
}

.email {
    padding: 15px;
    background-color: darkorange !important;
    border: none !important;
}

.btn-default:hover, .btn-default:active {
	border: solid 1px white;
	color: white;
	background: none;
	width: 100%;
}

a.btn.btn-default  {
    letter-spacing: 1px;
    font-weight: 100;
}
/* Navigation */
.navbar {
    background: none;
    border: none;
}
.navbar-header {
    width: 100%;
}

.navbar a, 
.navbar a:hover,
.navbar a:visited {
    color: white;
}

.navbar-brand {
	letter-spacing: .75px;
}

/* Jumbotron */

.jumbotron {
    background: url("https://ununsplash.imgix.net/21/mac-glasses.JPG?q=75&amp;fm=jpg&amp;s=b071b2245118757fbfc6ff9f9dd9cb7c") no-repeat center center fixed;
    background-size: cover;
    color: whitesmoke;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    height:  800px;
    position: relative;
}

.sheer {
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height:  100%;
    padding: 100px 5% 0px 5%;
    padding: auto;
    margin-top: 0px;
/*    margin-bottom: auto;
*/}
.jumbotron h1 {
	font-weight: 100;
}

.jumbotron p {
    width: 100%;
    letter-spacing: .5px;
    font-weight: 100;
    padding-top: 15px;
    padding-left: 5px;

} 
.header {
    z-index: 1;
}

.subhead {
    position: absolute;
    top:600px;
    background-color: darkorange;
    height: 200px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.subhead.fix-div {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%; 
    z-index: 1000;

}
.subhead h2 {
    font-size: 1.2em;
    color: white;
    font-weight: 100;
    letter-spacing: .15em;
}


/* Supporting */

.wide{
    width: 100%;
}
.supporting p h2 h3 {
	letter-spacing: .75px;
}

.col-md-4 {
    padding: 30px;
    vertical-align: middle;
}

.project-bg{
    background-size: cover !important;
    height: 300px;
    padding: 0px;
    /* -webkit-filter: blur(1px); */
    /* padding: 20px; */
    box-sizing: border-box;
    border: 1px solid gray;
    margin-top: 50px;
}

.project-bg-etsy{
    background: url("../images/etsyHome.png");
}

.project-bg-pinterest{
    background: url("../images/pinterestHome.png");
}

.project-bg-etsy{
    background: url("../images/etsyHome.png");
}
.project-fg {
    background-color: rgba(0,0,0,.3);
    height: 300px;
    /* margin: 75px; */
    vertical-align: middle;
    /* padding: 75px; */
    margin: auto;
}

/* Modal */

.modal-content{
    border-radius: 0px;
}

.modal img {
    width: 100%;
}


.text-middle {
    margin: 0 25%;
    text-align: center;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px 0px;
    border: 2px solid white;
    letter-spacing: 1px;
    background: none;
}

.text-middle:hover {
    border:none;
    font-weight: bold;
    background-color: rgba(255,255,255,1);
    color:black;
    border: none;
}

/*h4.text-middle {
    font-size: 30px;
}*/
/* Miscellaneous Styles */

.no-border{
    border: none;
}

h4 {
    font-weight: 100;
}

.second {
    margin-top: -100px;
}

.main {
        height: 300px;
    width: 300px;
}

.affix {
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.strong {
    font-weight: 400;
}

/*colors*/

.white{
    background-color: #A7B4D7;
}
.orange {
    color: orange;
    display:none;
}

.darkorange {
    background-color: darkorange;
}

.gray {
    background-color: #fff;
}

/*text colors*/
.white-text {
    color:white;
}
.gray-text {
    color:gray;
}
.black-text {
    color:black;
}

/* Modal */

.modal-title {
    color: white;
}

.modal-header {
    background-color: darkorange;
}

@media (max-width: 500) {
  .subhead h2 {
    font-size: 14px !important;
  }

  .affix {
    top: 50px;
  }
 
}
